<template name="guide">
  <div id="guide" class="dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <div class="profileInfo">
            <img src="{{fbImage facebookId=entry.facebookId}}" alt="{{entry.name}}"/>
            <div class="profileName">
              {{entry.name}}
            </div>
          </div>

          <img src="/images/kadoi.png" alt="" class="kadoi">
        </div>
        <div class="col-sm-5">
          <h2>Οδηγίες</h2>
          <p>Χρησιμοποιείστε τα βελάκια στο πληκτρολόγιο ή πάνω στην οθόνη του smartphone σας.</p>
          <p>Μπορείτε να μετακινείτε τα τουβλάκια δεξιά - αριστερά αλλά και να τα περιστρέφετε για την καλύτερη τοποθέτησή τους.</p>
          <p>Όταν μια οριζόντια γραμμή είναι πλήρης θα διαγραφεί και θα κερδίσετε πόντους.</p>
          <p>Μη ξεχάσετε να γράψετε τα στοιχεία σας για να λάβετε μέρος στο διαγωνισμό.</p>
        </div>
      </div>
    </div>
  </div>
</template>
