.minileader {
  position: relative;
  top: 60px;
  img {
    border: 1px solid white;
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
  }
  .name {
    color: white;
    max-width: 125px;
    overflow: hidden;
    padding: 0 5px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .score {
    color: yellow;
  }
}
